@{
    ViewData["Title"] = "Orders Listing";
}

@section Styles{
    <link href="~/css/DataTableStyle.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}
<div id="exportCsv">
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" style="padding:0px 0px 5px 10px">
        <div class="col-lg-5 col-md-10 col-sm-8 col-xs-6" style="padding-left: 0px; cursor: pointer;">
            <input type="text" id="dateFilterOrder" class="form-control customDate" placeholder="dd/mm/yyyy" style="cursor:pointer;">
            <span class="fa fa-calendar form-control-feedback right" aria-hidden="true" onclick="$('#dateFilterOrder').focus()"></span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" id="clearDateFilter" style="display:none;padding-top:8px">
            <a id="clearDateFilter"><i class="fa fa-close" style="font-size:20px"></i></a>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" style="padding:0px 0px 5px 10px">
        <div class="col-lg-5 col-md-2 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-7 col-md-10 col-sm-8 col-xs-6" style="padding-left: 0px; cursor: pointer">
            <select id="spId" asp-items="@(new SelectList(ViewBag.SalesPersons,"Id","Name"))" class="form-control">
                <option value="" selected>All Salesperson</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewData["Title"]</h2>
                <div class="nav navbar-right panel_toolbox">
                    <input class='form-control custom-search' placeholder='Type and press enter to search' type="search" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">
                <table id="OrdersTable" class="table table-hover table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Order Code</th>
                            <th>SalesPerson</th>
                            <th>Business Name</th>
                            <th>Gross Sale</th>
                            <th>Inv. Discount</th>
                            <th>Inv. Discount%</th>
                            <th>Total Discount</th>
                            <th>Total Discount%</th>
                            <th>Return / Waste</th>
                            <th>Net Sales</th>
                            <th>Remaining Balance</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/DataTableScript.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            window.onpageshow = function (event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
            $('#spId').select2({
                width: '100%'
            });
            
            $('.custom-search').tooltip({
                trigger: 'hover',
                html: true,
                title: '<b>Search by</b><ul class="tooltip-ul1"><li>Order Code</li><li>Business Name</li><li>Salesperson</li></ul>',
                placement: 'left',
                fallbackPlacement: 'flip',
                boundary: 'window',
                template: '<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
            });
            $("#dateFilterOrder").datepicker({
                dateFormat: 'dd/mm/yy',
                maxDate: 0
            }).val(new Date().toLocaleDateString("en-GB"));
            var orderTable = $('#OrdersTable').DataTable({
                dom: "frt<'row'<'col-md-4 col-xs-12'i><'col-md-4 col-xs-12'l><'col-md-4 col-xs-12'p>>",
                serverSide: true,
                pagingType: "simple_numbers",
                processing: true,
                stateSave: true,
                search: {
                    return:true,
                },
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading...',
                    emptyTable: 'No data available'
                },
                order: [9, 'desc'],
                lengthMenu: [10, 25, 50, 100, 250, 500],
                filter: true,
                ajax: {
                    url: '@Url.Action("SPOrders","Order")',
                    type: "POST",
                    datatype: "json",
                    method: 'post',
                    data: function (d) {
                        d.id = '';
                        d.isMarked = false;
                    },
                    dataSrc: function (data) {
                        return data.data;
                    }
                },
                columns: [
                    {
                        data: { orderCode: 'orderCode' },
                        render: function (data) {
                            if (data.orderCode != null && data.orderCode != '') {
                                return data.orderCode;
                            }
                            return "---";
                        }
                    },
                    {
                        data: 'salesPersonName'
                    },
                    {
                        data: 'customerName'
                    },
                    {
                        data: { gross: 'gross' },
                        render: function (data) {
                            return data.gross.toLocaleString('en-US', { minimumFractionDigits: 2 });
                        },
                        searchable: false,
                        className: "text-right",
                    },
                    {
                        data: { invoiceDiscount: 'invoiceDiscount' },
                        render: function (data) {
                            return data.invoiceDiscount.toLocaleString('en-US', { minimumFractionDigits: 2 });
                        },
                        searchable: false,
                        className: "text-right",
                    },
                    {
                        data: { invoiceDiscountPercentage: 'invoiceDiscountPercentage'},
                        render: function (data) {
                            return  data.invoiceDiscountPercentage;
                        },
                        searchable: false,
                        className: "text-right",
                    },
                    {
                        data: { totalDiscount: 'totalDiscount'},
                        render: function (data) {
                            return data.totalDiscount.toLocaleString('en-US', { minimumFractionDigits: 2 });
                        },
                        searchable: false,
                        className: "text-right",
                    },
                   
                    {
                        data: { totalDiscountPercentage: 'totalDiscountPercentage' },
                        render: function (data) {
                            return data.totalDiscountPercentage ;
                        },
                        searchable: false,
                        className: "text-right",
                    },
                    {
                        data: { waste: 'waste' },
                        render: function (data) {
                            return data.waste.toLocaleString('en-US', { minimumFractionDigits: 2 });
                        },
                        searchable: false,
                        className: "text-right",
                    },
                    {
                        data: { total: 'total' },
                        render: function (data) {
                            return data.total.toLocaleString('en-US', { minimumFractionDigits: 2 });
                        },
                        searchable: false,
                        className: "text-right",
                    },
                    {
                        data: { credit: 'credit' },
                        render: function (data) {
                            return data.credit.toLocaleString('en-US', { minimumFractionDigits: 2 });
                        },
                        searchable: false,
                        className: "text-right",
                    },
                    {
                        data: 'createdAt',
                        render: function (data) {
                            return new Date(data).toLocaleString("en-GB");
                        }
                    },
                ],
                createdRow: function (row, data, dataIndex) {
                    row.title = "Click to view details."
                    $('[data-toggle="tooltip"]', row).tooltip();
                }

            });

            $('#OrdersTable').css('cursor', 'pointer');
            searchQuery = $(".dataTables_filter input").val();
            $(".custom-search").val(searchQuery);
            dateFilterOrder = orderTable.column(5).search();
            $("#dateFilterOrder").val(dateFilterOrder);
            $(".custom-search").val(searchQuery);
            if (dateFilterOrder != "")
                $("#clearDateFilter").css("display", "inline");
            $(".custom-search").keyup(function (e) {
                if (e.keyCode == 13) {
                    orderTable.search(this.value).draw();
                }
            });
            $("#dateFilterOrder").change(function () {
                $("#clearDateFilter").css("display", "inline");
                orderTable.column(5).search(this.value).draw();
            });

            $('#OrdersTable tbody').on('click', 'tr td:not(:last-child)', function () {
                var data = orderTable.row($(this).parent()).data();
                 window.location.href = '@Url.Action("OrderDetails", "Order" , new {id = "ID"})'.replace("ID", data.id);
            });

            $("#clearDateFilter").click(function () {
                $("#dateFilterOrder").val("");
                $("#clearDateFilter").css("display", "none");
                orderTable.column(5).search("").draw();
            })
            $('input[type=search]').on('search', function () {
                orderTable.search("").draw();
            });

            var spFilterJson = localStorage.getItem('SpFilterOrder');
            if (spFilterJson != null) {
                $("#spId").val(orderTable.column(1).search())
                $("#select2-spId-container").html(spFilterJson);
                $("#select2-spId-container").attr("title", spFilterJson);
            }

            $('#spId').change(function () {
                salesPerson = $('#spId').val();
                localStorage.setItem('SpFilterOrder', $('#spId option:selected').text())
                orderTable.column(1).search(salesPerson).draw();
            })
        })
    </script>
}