@{
    ViewData["Title"] = "Home";
}

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>UI Component</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-default">Default</button>
                        <label>Default Theme Button (btn-default)</label>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-outline-danger">Secondary</button>
                        <label>Secondary Theme Button (btn-outline-danger)</label>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default"><i class="fa fa-home"></i> Default</button>
                        <label>Default Button with icon (btn-default)</label>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-outline-danger"><i class="fa fa-home"></i> Secondary</button>
                        <label>Secondary Button with icon (btn-ouline-danger)</label>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-default" asp-action="PushNotification" asp-controller="Home">Push Notification</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>