@model IEnumerable<ReadyGo.Domain.Entities.Category>;
@section Styles{

}
<div>
    <div class="container">
        <div class="row" style="justify-content:center">
            <div class="column">
                <ul id="categories" class="connected-sortable droppable-area1">

                    @foreach (var category in Model)
                    {
                        <li id="@category.Id" class="draggable-item">@category.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>