@{ ViewData["Title"] = "Setup"; }
@section Styles{
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <style>
        div.scroll {
            margin: 4px, 4px;
            padding: 4px;
            height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
        }

        .dropdown-menu.menu-scroll {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        label.error {
            color: #dc3545 !important;
        }
    </style>
}
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Discount Setup</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-md-12" style="padding:2%;border:1px solid #ddd; border-radius:3px">
                    <form id="DiscountSetup" style="width:100%" class="form-horizontal">
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col-md-10 col-sm-10">
                                    <label class="required">Location: </label>
                                    <select required id="location" name="location" asp-items="@(new SelectList(ViewBag.Route,"Id","Name"))" class="form-control">
                                        <option value="" disabled hidden selected>Select Location</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col-md-10 col-sm-10">
                                    <label class="required">Customer: </label>
                                    <select required id="customer" name="Customer" class="form-control" multiple="multiple">
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="col-md-12"></label>
                                    <button id="AddCustomer" class="btn btn-default" style="margin-top:18px">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="clearfix"></div>
                    <hr style="width:100%" />
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-md-10 col-sm-10">
                                <label class="required">Discount: </label>
                                <input type="number" dir="rtl" required name="sm-discount" min="0" max="99" class="percentage form-control text-right" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered" style="margin-top:10px">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Customers</th>
                                <th style="width:30px">Action</th>
                            </tr>
                        </thead>
                        <tbody id="DiscountSetupBdy">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/ValidationScript.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#location").select2({
                width: '100%'
            });
            $("#customer").select2({
                width: '100%'
            });
            $("#location").change(function () {
                $.ajax({
                    url: '/Discount/GetCustomers',
                    method: 'GET',
                    type: 'get',
                    data: { Id: $("#location").val() },
                    success: function (response) {
                        $("#customer").empty()
                        response.customers.forEach((element) => {
                            $("#customer").append(
                                `<option value="${element.id}">${element.custName}</option>`
                            )
                        })
                    },
                    error: function (err) {
                    }
                })
            })
            $("#AddCustomer").on("click", function (e) {
                e.preventDefault();
                if ($("#DiscountSetup").valid()) {
                    var customers = "";
                    var customerId = [];
                    var locationId = $("#location").val();
                    $.each($("#customer option:selected"), function () {
                        customers += `<li>${$(this).text()}</li>`;
                        customerId.push($(this).val());
                    });
                    $('#DiscountSetupBdy').append(
                        `<tr id="${locationId}">
                            <td>${$("#location :selected").text()}</td>
                            <td>
                                <ol>
                                    ${customers}
                                </ol>
                            </td>
                            <td>
                                <a onclick="DeleteDiscountRow('${locationId}')"><i class="fa fa-trash" style="color:#c30e0e;font-size:20px"></i></a>
                            </td>
                            <td value="${$("#customer").val()}" hidden></td>
                         </tr>`
                    )
                }
            })

            DeleteDiscountRow = (rowId) => $(`#${rowId}`).remove();
        })
    </script>
}
