<div>
    <div class="clearfix app_logo">
        <div>
            <img src="~/images/lighthouse_logo.png" alt="..." class="app_logoImg">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
