@model ReadyGo.Domain.Entities.ViewModels.ChangePasswordViewModel
<form method="post" enctype="multipart/form-data" id="ChangePasswordForm" action="../Account/ChangePassword" class="form-label-left input_mask">
    <script type="text/javascript">
        $('form#ChangePasswordForm').removeData("validator");
        $('form#ChangePasswordForm').removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse($('form#ChangePasswordForm'));
    </script>
    <div class="modal-body">
        <div class="row formGroup">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input id="oldPass" type="password" class="form-control has-feedback-left" placeholder="Enter Old Password" asp-for="OldPassword" />
                <i toggle="#oldPass" class="fa fa-fw fa-eye form-control-feedback pass-toggle"></i>
                <i class="fa fa-lock form-control-feedback left" aria-hidden="true"></i>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

        </div>
        <div class="row formGroup">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input id="password" type="password" class="form-control has-feedback-left" placeholder="Enter New Password" asp-for="NewPassword" />
                <i toggle="#password" class="fa fa-fw fa-eye form-control-feedback pass-toggle"></i>
                <i class="fa fa-lock form-control-feedback left" aria-hidden="true"></i>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row formGroup">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input id="confirmPassword" type="password" class="form-control has-feedback-left" placeholder="Confirm New Password" asp-for="ConfirmPassword" />
                <i toggle="#confirmPassword" class="fa fa-fw fa-eye form-control-feedback pass-toggle"></i>
                <i class="fa fa-lock form-control-feedback left" aria-hidden="true"></i>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>