@model ReadyGo.Domain.Entities.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_UnAuthorizedLayout.cshtml";
}
<style>
    textarea {
        margin-top: 5px;
    }

    .recaptcha {
        margin-top: 5px;
    }
</style>
<div class="animate form login_form">
    <section class="login_content">
        <partial name="PartialViews/_TopLogo.cshtml" />
        <form id="contact-form" class="form-horizontal" role="form">
            <h1>@ViewBag.Title</h1>
            <div>
                <div>
                    <input type="text" name="name" class="form-control has-feedback-right" placeholder="Please enter your firstname" required="required"
                           asp-for=FirstName>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="lname" class="form-control has-feedback-right" placeholder="Please enter your lastname" required="required"
                           asp-for=LastName>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div>
                    <input type="email" name="email" class="form-control has-feedback-right" placeholder="Please enter your email" required="required"
                                 asp-for=Email>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div>
                <div>
                    <textarea rows=4 name="message" class="form-control" placeholder="Please enter your message" required="required"
                               style="margin: 20px 20px 0 0 !important;" asp-for=Message></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>
        </form>
        <div>
            <div class=recaptcha>
                <div class="g-recaptcha" data-sitekey="6LdLE2UfAAAAAPB37_jcIzkZQLSb8zu9FU5XukU4" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                <input class="form-control d-none" name='captcha' data-recaptcha="true" required data-error="Please complete the Captcha">
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="login-btn">
            <input type="button" id="submit" value="Send" class="btn btn-dark" />
        </div>

        <div class="clearfix"></div>

        <div class="separator">
            <div class="clearfix"></div>
            <br />

            <div>
                <p>Copyright © @DateTime.Now.Year All Rights Reserved. LightHouse! Privacy and Terms</p>
            </div>
        </div>
    </section>
</div>
@section Validation{
    
}
@section Scripts{
    <script src="~/js/ValidationScript.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $(document).ready(function(){
        var captcha=false;

        $.validator.unobtrusive.parse($("#contact-form"));
        $("#submit").click(function(){
            $("#contact-form").validate();
            if($("#contact-form").valid()){
                if(captcha==true){
                    $.ajax({
                        url:"/Account/ContactUs",
                        method:'post',
                        data:$("#contact-form").serialize(),
                        beforeSend:LoadingSpinner(),
                        success:function(resp){
                            SuccessNotification(resp.message);
                        },
                        error:function(err){
                            swal.close();
                            console.log(err);
                        }
                    })
                }
                else{
                    alert("Please complete the Captcha")
                }
            
            }
                else{
                            $.each($("#contact-form").validate().errorList, function (key, value) {
            $errorSpan = $("span[data-valmsg-for='" + value.element.id + "']");
            $errorSpan.html("<span style='color:red'>" + value.message + "</span>");
            $errorSpan.show();
        });
                }
        })
        verifyRecaptchaCallback=(e)=>{
            captcha=true;
        }
        $(document).on("keypress", "input", function(e) {
     $("span[data-valmsg-for='" + this.id + "']").hide();
});
 $(document).on("keypress", "textarea", function(e) {
     $("span[data-valmsg-for='" + this.id + "']").hide();
});
    })
</script>
}