@using ReadyGo.Domain.Entities.ViewModels;
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_UnAuthorizedLayout.cshtml";
}

<div class="animate form">
    <section class="login_content">
        <partial name="PartialViews/_TopLogo.cshtml" />
        <form asp-action="ForgotPassword" method="post">
            <h1>Forgot Password</h1>
            <div>
                <input type="email" class="form-control" placeholder="Email" required="" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="login-btn">
                <input type="submit" value="Send Email" class="btn btn-dark" />
            </div>
            <div class="clearfix"></div>

            <div class="separator">
                <div>
                    <p class="change_link text-center">
                        Already a member? Click here to
                        <a id="link" asp-controller="Account" asp-action="Login" class="custom-link"> Log in </a>
                    </p>

                </div>
                <div class="clearfix"></div>
                <br />

                <div>
                    <p>Copyright © @DateTime.Now.Year All Rights Reserved. LightHouse! Privacy and Terms</p>
                </div>
            </div>
        </form>
    </section>
</div>
@section Validation{
    <script src="~/js/ValidationScript.min.js"></script>
}
