
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_UnAuthorizedLayout.cshtml";
}

<div class="animate form login_form">
    <section class="login_content">
        <partial name="PartialViews/_TopLogo.cshtml" />
        <form>
            <hgroup class="title">
                <h1>Email Sent</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
                <button type="button" onclick="location.href='@Url.Action("Login", "Account")';
                     return false;" class="btn btn-dark">
                    Back to Login
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <div>
                    <p>Copyright © @DateTime.Now.Year All Rights Reserved. LightHouse! Privacy and Terms</p>
                </div>
            </div>
        </form>
    </section>
</div>

