@{
    ViewBag.Title = "Password Changed";
    Layout = "_UnAuthorizedLayout";
}
<div class="animate form login_form">
    <section class="login_content">
        <partial name="PartialViews/_TopLogo.cshtml" />
        <form>
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <div>
                <p>
                    Your password has been reset. Please log in with your new password.
                </p>
                <button type="button" onclick="location.href='@Url.Action("Login", "Account")';
                     return false;" class="btn btn-dark">
                    Back to Login
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <div>
                    <p>Copyright © @DateTime.Now.Year All Rights Reserved. LightHouse! Privacy and Terms</p>
                </div>
            </div>
        </form>
    </section>
</div>

