@using ReadyGo.Domain.Entities.ViewModels;
@model SetPasswordViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_UnAuthorizedLayout";
}

<div class="animate form login_form">
    <section class="login_content">
        <partial name="PartialViews/_TopLogo.cshtml" />
        <form asp-action="SetPassword" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
            <h1>Create Account</h1>
            <div>
                <input type="email" disabled class="form-control" required="" asp-for="Email" />
                <input type="hidden" asp-for="Email" />
            </div>
            <div>
                <input type="hidden" class="form-control" required="" asp-for="Code" />
            </div>
            <div>
                <div>
                    <input type="password" id="password" class="form-control has-feedback-right" placeholder="Password" required="" asp-for="Password" />
                    <i toggle="#password" class="fa fa-fw fa-eye form-control-feedback pass-toggle"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <div>
                    <input type="password" id="confirmPassword" class="form-control has-feedback-right" placeholder="Confirm Password" required="" asp-for="ConfirmPassword" />
                    <i toggle="#confirmPassword" class="fa fa-fw fa-eye form-control-feedback pass-toggle"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div><br /></div>
            @if (ViewBag.Message != null)
            {
                <div>
                    <span class="text-danger">@ViewBag.Message</span>
                </div>

                <div><br /></div>
            }
            <div class="login-btn">
                <input type="submit" value="Register" class="btn btn-dark" />
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <div>
                    <p class="change_link text-center">
                        Already a member? Click here to
                        <a id="link" asp-controller="Account" asp-action="Login" class="to_register"> Log in </a>
                    </p>
                </div>
                <div class="clearfix"></div>
                <br />

                <div>
                    <p>Copyright © @DateTime.Now.Year All Rights Reserved. LightHouse! Privacy and Terms</p>
                </div>
            </div>
        </form>
    </section>
</div>
@section Validation{
    <script src="~/js/ValidationScript.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".pass-toggle").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });
    </script>
}